@use 'base/variables'as v;
@use 'base/mixins'as m;

.service__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    margin: 5rem;
    color: v.$rojoOscuro;
}

.services {

    @include m.tablet {
        grid-template-columns: repeat(5, 1fr);
    }

    @include m.tabletC {
        grid-template-columns: repeat(3, 1fr);
    }

    @include m.phoneC {
        grid-template-columns: repeat(1, 1fr);
    }

    display: grid;
    gap: 2.4rem;
    grid-template-rows: none;
    margin-bottom: 10rem;

    .service_1 {
        background-image: url(../../../build/img/1.webp);
    }

    .service_2 {
        background-image: url(../../../build/img/2.webp);
    }

    .service_3 {
        background-image: url(../../../build/img/3.webp);
    }

    .service_4 {
        background-image: url(../../../build/img/4.webp);
    }

    .service_5{
        background-image: url(../../../build/img/5.webp);
    }

    .service_6{
        background-image: url(../../../build/img/6.webp);
    }

    .service_7{
        background-image: url(../../../build/img/7.webp);
    }

    .service_8 {
        background-image: url(../../../build/img/8.webp);
    }

    .service_9{
        background-image: url(../../../build/img/9.webp);
    }

    .service_1,
    .service_2,
    .service_3,
    .service_4,
    .service_5,
    .service_6,
    .service_7,
    .service_8,
    .service_9 {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 30rem;
        position: relative;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.6);

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 2.8rem;
            text-align: center;
            color: v.$blanco;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.12);
            transition: .6s transform;
        }
    }
}